.pixel {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.pixel-rows {
  display: flex;
}
.board {
  border: 1px solid #b3b3b3;
  margin: 30px;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  flex-wrap: wrap;
}
.title {
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
}
.grid {
  position: relative;
}
.function-form {
  margin: 30px;
}
.y-coor {
  position: absolute;

  width: 20px;
  top: 10%;
}
.coor {
  width: 20%;
}
